{{- $showf := ( default true .Site.Params.ShowForwardlinks ) -}}
{{- $showb := ( default true .Site.Params.ShowBacklinks ) -}}
{{- if  or $showf $showb -}}
  {{- $links := site.Home.Store.Get "crosslinks" | uniq }}
  {{- $forwardlinks := (where $links "sourceLink" .RelPermalink) }}
  {{- $backlinks := (where $links "targetLink" .RelPermalink) }}
  {{- if or $backlinks $forwardlinks -}}
    <div class="post-end-link">
      {{- if $showf -}}
        {{- with $forwardlinks -}}
          <details class="crosslink" open>
            <summary>Forward Link</summary>
            <menu class="indentline">
              {{ range . }}
                <li>
                  <a class="sidelink" href="{{- .targetLink -}}"
                    >{{- .targetTitle -}}</a
                  >
                </li>
              {{- end -}}
            </menu>
          </details>
        {{- end -}}
      {{ end }}
      {{- if $showb -}}
        {{- with $backlinks -}}
          <details class="crosslink" open>
            <summary>Back Link</summary>
            <menu class="indentline">
              {{ range . }}
                <li>
                  <a class="sidelink" href="{{ .sourceLink }}"
                    >{{ .sourceTitle }}</a
                  >
                </li>
              {{- end -}}
            </menu>
          </details>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}

