{{ $show := default true (default .Site.Params.showFileTree .Params.showFileTree) }}
{{ if $show }}
{{ $root := .FirstSection }}

{{ with .Params.fileTreeRoot }}
  {{ $page := site.GetPage (printf "%s" .) }}
  {{ if $page }}
    {{ $root = $page }}
  {{ end }}
{{ end }}

{{- $displayroottitle := "" }}
{{ if $root.LinkTitle }}
  {{ $displayroottitle = $root.LinkTitle }}
{{ else if $root.Title }}
  {{ $displayroottitle = $root.Title }}
{{ else if and .IsSection .File }}
  {{ $displayroottitle = path.Base $root.File.Dir | humanize | title }}
{{ else if and .IsPage .File }}
  {{ $displayroottitle = $root.File.BaseFileName | humanize | title }}
{{ end }}

<details open>
<summary>{{print $displayroottitle}}</summary>
{{ partial "file-tree-list.html" (dict "context" $root "depth" 1) }}
</details>
{{ end }}

