{{ $show := default true (default .Site.Params.ShowFileTree .Params.ShowFileTree) }}
{{ if $show }}
  <hr>
  {{ $root := .FirstSection }}
  {{ with .Params.FileTreeRoot }}
    {{ $page := site.GetPage (printf "%s" .) }}
    {{ if $page }}
      {{ $root = $page }}
    {{ end }}
  {{ end }}

  <b>{{ $root.Title }}</b>
  {{ partial "file-tree-walk.html" (dict "context" $root "depth" 1) }}
{{- end }}

{{- define "_partials/file-tree-walk.html" -}}
  {{ $context := .context }}
  {{ $depth := .depth }}
  <ul>
    {{ range $context.Pages }}
      <li>
        {{ if .IsSection }}
          <details>
            <summary>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </summary>
            {{ partial "file-tree-walk.html" (dict "context" . "depth" (add $depth 1)) }}
          </details>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{- end }}
