<script>
  if (localStorage.getItem("pref-theme") === "dark") {
    document.body.classList.add("dark");
  } else if (localStorage.getItem("pref-theme") === "light") {
    document.body.classList.remove("dark");
  } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    document.body.classList.add("dark");
  }
</script>

<input type="checkbox" id="menu-checkbox" style="display: none;" />
<div class="site-title">
  <!-- <label for="nav-checkbox" id="nav-btn">☰</label> -->
  <label for="nav-checkbox" id="nav-btn">≡</label>
  <a href="{{- .Site.Home.RelPermalink -}}">{{- site.Title -}}</a>
  <label id="themetoggle"></label>
  <label for="menu-checkbox" id="menu-btn">❮</label>
</div>
{{- with .Site.Params.subtitle -}}
  <div class="site-subtitle">{{- . -}}</div>
{{- end -}}
<!-- <li><label id="themetoggle"></label></li> -->
<menu class="mainmenu">
  {{- range site.Menus.main -}}
    {{- partial "menu-button.html" . -}}
  {{- end -}}
</menu>

{{- define "_partials/menu-button.html" -}}
  {{- if .HasChildren -}}
    <li>
      <input
        type="checkbox"
        id="menu-{{- .Identifier -}}"
        style="display: none;"
      />
      <label for="menu-{{- .Identifier -}}">{{- .Name -}}</label>
      <menu class="mainmenu">
        {{- range .Children -}}
          {{- partial "menu-button.html" . -}}
        {{- end -}}
      </menu>
    </li>
  {{- else -}}
    <li><a href="{{- .URL | relURL -}}">{{- .Name -}}</a></li>
  {{- end -}}
{{- end -}}
