<script>
  if (localStorage.getItem("pref-theme") === "dark") {
      document.body.classList.add('dark');
  } else if (localStorage.getItem("pref-theme") === "light") {
      document.body.classList.remove('dark')
  } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add('dark');
  }
</script>

<a href="{{ .Site.Home.RelPermalink }}"><h1>{{ site.Title }}</h1></a>
<input type="checkbox" id="menu-checkbox" style="display: none;">
<label for="menu-checkbox" id="menu-btn"><h1>«</h1></label>
<label for="nav-checkbox" id="nav-btn"><h1>☰</h1></label>
<menu><ul>
  <li><button id="themetoggle" onclick="toggleTheme()">🌓</button></li>
  {{- range site.Menus.main }}
    {{ if .HasChildren }}
      <li><select onchange="location = this.value;"><option value="" disabled>{{ .Name }}</option>
        {{- range .Children }}
        <option value="{{.URL}}">{{ .Name }}</option>
        {{- end }}
      </select></li>
    {{ else }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  {{- end }}
</ul></menu>

{{- define "_partials/menu-select.html" -}}
  {{- range site.Menus.main }}
    {{ if .HasChildren }}
      <li><select onchange="location = this.value;"><option value="" disabled>{{ .Name }}</option>
        {{- range .Children }}
        <option value="{{.URL}}">{{ .Name }}</option>
        {{- end }}
      </select></li>
    {{ else }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  {{- end }}
{{end}}

{{- define "_partials/menu-list.html" -}}
  {{- range .menuEntries }}
    {{ if .HasChildren }}
      <li><details><summary>{{ .Name }}</summary><div class="submenu">
        <ul>
          {{- with .Children }}
              {{- partial "menu-list.html" (dict "menuEntries" .) }}
          {{- end }}
        </ul></div>
      </details></li>
    {{ else }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  {{- end }}
{{- end}}

{{- define "_partials/menu-walk.html" -}}
  {{- range .menuEntries }}
    {{ if .HasChildren }}
      <option><select onchange="location = this.value;"><option>{{ .Name }}</option>
          {{- with .Children }}
              {{- partial "menu-list.html" (dict "menuEntries" .) }}
          {{- end }}
      </select></option>
    {{ else }}
      <option value="{{.URL}}">{{ .Name }}</option>
    {{ end }}
  {{- end }}
{{- end}}
