{{- $page := .page -}}
{{- $pages := .pages -}}
{{- $type := .type -}}
{{- if eq $type "split" -}}
  {{- range ($page.Paginate $pages).Pages -}}
    {{- partial "block-post.html" . -}}
  {{- end -}}
  {{- $paginator := $page.Paginate $pages -}}
  {{- with $paginator -}}
    <ul class="pagination">
      {{- range .Pagers -}}
        <li><a href="{{- .URL -}}">{{- .PageNumber -}}</a></li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- else if eq $type "date" -}}
  {{- range $pages.GroupByPublishDate "2006" -}}
    {{- if ne .Key "0001" -}}
      {{- $year := replace .Key "0001" "" -}}
      <h2 class="archive-year-header" id="{{- $year -}}">
        {{- $year -}}
        <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
      </h2>
      {{- range .GroupByDate "01" -}}
        <section class="archive-month">
          <h3 class="archive-month-header" id="{{- $year -}}-{{- .Key -}}">
            {{- .Key -}}
            <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
          </h3>
          <section class="archive-month-posts">
            {{- range .Pages -}}
              {{- partial "block-post.html" . -}}
            {{- end -}}
          </section>
        </section>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $type "list" -}}
  <ol>
    {{- range $pages -}}
      <li>{{- partial "block-post.html" . -}}</li>
    {{- end -}}
  </ol>
{{- else if eq $type "plain" -}}
  {{- range $pages -}}
    {{- partial "block-post.html" . -}}
  {{- end -}}
{{- end -}}
