{{- $pages := .RegularPagesRecursive -}}
{{- range $pages.GroupByPublishDate "2006" -}}
  {{- if ne .Key "0001" -}}
    {{- $year := replace .Key "0001" "" -}}
    <h2 class="archive-year-header" id="{{- $year -}}">
      <a class="archive-header-link" href="#{{- $year -}}">
        {{- $year -}}
      </a>
      <sup class="archive-count">{{- len .Pages -}}</sup>
    </h2>
    {{- range .GroupByDate "01" -}}
      <section class="archive-month">
        <h3 class="archive-month-header" id="{{- $year -}}-{{- .Key -}}">
          <a class="archive-header-link" href="#{{- $year -}}-{{- .Key -}}">
            {{- .Key -}}
          </a>
          <sup class="archive-count">{{- len .Pages -}}</sup>
        </h3>
        <section class="archive-month-posts">
          {{- range .Pages -}}
            {{- partial "post-section.html" . -}}
          {{- end -}}
        </section>
      </section>
    {{- end -}}
  {{- end -}}
{{- end -}}
