<br>start of meta-info<br>
{{ $page := . }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
$dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time><br>
<span>共{{ .WordCount  }}字</span>，阅读约<span> {{ .ReadingTime  }} 分钟</span>
</div>

{{ if not (.Param "hideTaxonomies") }}
  {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
    {{ $terms := ($page.GetTerms $taxonomyName) }}
    {{ with $terms }}
      {{ partial "terms.html" (dict "taxonomy" $taxonomyName "page" $page) }}
    {{ end }}
  {{ end }}
{{ end }}
<br>end of meta-info
