{{- $date := (.Lastmod.Format .Site.Params.DateFormat) -}}
{{ if and .GitInfo .Site.Params.LastChangeLink }}
  <a href="{{ .Site.Params.LastChangeLink }}/{{.GitInfo.Hash}}" title='Last modified by' target="_blank" rel="noopener">
    Last modified on {{ $date }}
  </a>
{{ else }}
  Last modified on {{ $date }}
{{ end }}

<section class="post-end">
  <div class="post-prev">
    {{- with .Prev }}
      <a href="{{ .Permalink }}">« {{.Name}}</a>
    {{- end }}
  </div>
  <div class="post-next">
    {{- with .Next }}
    <a href="{{ .Permalink }}">{{.Name}} »</a>
  {{- end }}
  </div>
</section>

{{ $show := default true (default .Site.Params.ShowRelPost .Params.ShowRelPost) }}
{{ if $show }}
<section class="post-rel">
{{ $page := . }}
{{ $taxonomyTitles := .Site.Params.taxonomyTitles}}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    <div>
      {{- $taxonomyTitle := index $taxonomyTitles $taxonomyName | default $taxonomyName }} 
      <details>
        <summary>{{ $taxonomyTitle }}</summary>
        {{- range . }} 
      <details open><summary>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></summary>
        <ul>
          {{ range .RegularPages }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
        </ul>
      </details>
        {{ end }} 
      </details>
    </div>
  {{ end }}
{{ end }}
</section>
{{ end }}
