<details class="related-posts" open><summary>related</summary>
{{ $page := . }}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    <details><summary>{{ $taxonomyName }}</summary>
      {{- range . }} 
      <details><summary><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></summary>
        {{ range .RegularPages }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{- end }}
      </details>
      {{ end }} 
    </details>
  {{ end }}
{{ end }}
</details>

<div>
{{- $pages := .CurrentSection.RegularPages }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title"> »</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
</div>

