{{ $page := . }}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    {{ partial "terms.html" (dict "taxonomy" $taxonomyName "page" $page) }}
  {{ end }}
{{ end }}

{{- $pages := .CurrentSection.RegularPages }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title"> »</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}

<div class="back-to-top">
  <a href="#top">
    back to top
  </a>
</div>
