{{ partial "breadcrumbs.html" . }}<br>
{{ $cc := (default "nc-sa" (default .Site.Params.copyright .Params.copyright)) }}
  <a href="https://creativecommons.org/licenses/by-{{ $cc }}/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
    style="display:inline-block;">
    CC BY-{{ $cc | upper }} 4.0
  </a>

{{ $page := . }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
$dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> <span>共{{ .WordCount  }}字</span>，阅读约<span>{{ .ReadingTime  }}分钟</span>

<div>
{{ $page := . }}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    <div>
      {{ $taxonomyName }}:
        {{- range . }}
        <b><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></b>
        {{ end }}
    </div>
  {{ end }}
{{ end }}
</div>
