{{- if .Lastmod -}}
  {{- $date := (.Lastmod.Format .Site.Params.DateFormat) -}}
  {{- if and .GitInfo .Site.Params.LastChangeLink -}}
    <a
      href="{{- .Site.Params.LastChangeLink -}}/{{- .GitInfo.Hash -}}"
      title="Last modified by"
      target="_blank"
      rel="noopener"
    >
      Modified on
      {{ $date -}}
    </a>
  {{- else -}}
    Modified on
    {{ $date -}}
  {{- end -}}
  {{- $cc := (default "nc-sa" (default .Site.Params.copyright .Params.copyright)) }}
  licenses
  <a
    href="https://creativecommons.org/licenses/by-{{- $cc -}}/4.0"
    target="_blank"
  >
    CC
    BY-{{- $cc | upper -}}
  </a>
{{- end -}}


<div class="post-end">
  {{- with .NextInSection -}}
    <div class="post-prev">
      «
      {{ .Name }}
      <a href="{{- .RelPermalink -}}"></a>
    </div>
  {{- end -}}
  <div class="post-top">
    <a href="#top"></a>
    ↑
  </div>
  {{- with .PrevInSection -}}
    <div class="post-next">
      {{ .Name }} »
      <a href="{{- .RelPermalink -}}"></a>
    </div>
  {{- end -}}
</div>
