<details class="related-posts" open><summary>related</summary>
{{ $page := . }}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    <details><summary>{{ $taxonomyName }}</summary>
      {{- range . }} 
      <details><summary><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></summary>
        {{ range .RegularPages }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{- end }}
      </details>
      {{ end }} 
    </details>
  {{ end }}
{{ end }}
</details>
