{{- if .Lastmod -}}
  {{- $date := (.Lastmod.Format .Site.Params.DateFormat) -}}
  {{- if and .GitInfo .Site.Params.LastChangeLink -}}
    <a
      href="{{- .Site.Params.LastChangeLink -}}/{{- .GitInfo.Hash -}}"
      title="Last modified by"
      target="_blank"
      rel="noopener"
    >
      Last modified on
      {{ $date -}}
    </a>
  {{- else -}}
    Last modified on
    {{ $date -}}
  {{- end -}}
{{- end -}}


<div class="post-end">
  {{- with .NextInSection -}}
    <div class="post-prev">
      «
      {{ .Name }}
      <a href="{{- .RelPermalink -}}"></a>
    </div>
  {{- end -}}
  <div class="post-top">
    <a href="#top"></a>
    ↑
  </div>
  {{- with .PrevInSection -}}
    <div class="post-next">
      {{ .Name }} »
      <a href="{{- .RelPermalink -}}"></a>
    </div>
  {{- end -}}
</div>
