<br>start of page-info<br>
{{ $page := . }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
$dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time><br>
<span>共{{ .WordCount  }}字</span>，阅读约<span>{{ .ReadingTime  }}分钟</span>
</div>

<div>
{{ $page := . }}
{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{ $terms := ($page.GetTerms $taxonomyName) }}
  {{ with $terms }}
    <div>
      {{ $taxonomyName }}:
        {{- range . }} 
        <b><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></b>
        {{ end }} 
    </div>
  {{ end }}
{{ end }}
</div>
end of page-info
