<section style="border: 0.1rem solid var(--g-line); padding: 0.5rem;">
  <p>
    <a href="{{ .RelPermalink }}"><b>{{ .Title }}</b></a>
    <small>
      {{ with .Date }}
        {{ $dateMachine := .Format "2006-01-02T15:04:05-07:00" }}
        <time datetime="{{ $dateMachine }}">{{ .Format "2006/01/02" }}</time>
      {{ end }}
      <span>{{ .WordCount  }}字 {{ .ReadingTime  }}分钟</span>
      {{ $cc := (default "nc-sa" (default .Site.Params.copyright .Params.copyright)) }}
      {{ with .Params.status }}
        <i>{{ . }}</i>
      {{ end }}
    </small>
  </p>
  <p>
  {{ .Summary | plainify | truncate 50 | strings.TrimSpace }}
  </p>
</section>
