{{ $show := default true (default .Site.Params.ShowRelPost .Params.ShowRelPost) }}
{{ if $show}}
  {{ $page := . }}
  {{ $taxonomyTitles := .Site.Params.taxonomyTitles}}
  <details><summary>Related</summary>
    <menu>
    {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
      {{ $terms := ($page.GetTerms $taxonomyName) }}
      {{ with $terms }}
        <li>
          <details open>
            {{- $taxonomyTitle := index $taxonomyTitles $taxonomyName | default $taxonomyName }} 
            <summary>{{ $taxonomyTitle }}</summary>
            <menu>
              {{- range . }} 
                <li>
                  <details open>
                    <summary>
                      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    </summary>
                    <menu>
                      {{ range .RegularPages }}
                        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                      {{- end }}
                    </menu>
                  </details>
                </li>
              {{ end }} 
            </menu>
          </details>
        </li>
      {{ end }}
    {{ end }}
    </menu>
  </details>
{{- end}}
