{{ $show := default true (default .Site.Params.ShowSideMenu .Params.ShowSideMenu) }}
{{ if $show }}
  <hr>
  {{- with site.Menus.side }}
  <details open><summary>sidemenu</summary>
    <ul>
      {{ partial "menu-side.html" . }}
    </ul>
  </details>
  {{- end }}
{{- end}}

{{- define "_partials/menu-side.html" -}}
  {{- range . }}
    {{ if .HasChildren }}
      <li><details><summary>{{ .Name }}</summary>
        <ul>
          {{- with .Children }}
              {{- partial "menu-side.html" . }}
          {{- end }}
        </ul>
      </details></li>
    {{ else }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  {{- end }}
{{- end}}
