{{ $show := default true (default .Site.Params.ShowSideMenu .Params.ShowSideMenu) }}
{{ if $show }}
  <hr>
  <menu>
    {{- with site.Menus.side }}
      {{ partial "menu-side.html" . }}
    {{- end }}
  </menu>
{{- end}}

{{- define "_partials/menu-side.html" -}}
  {{- range . }}
    <li>
      {{ if .HasChildren }}
        <details><summary>{{ .Name }}</summary>
          <menu>
            {{- with .Children }}
                {{- partial "menu-side.html" . }}
            {{- end }}
          </menu>
        </details>
      {{ else }}
        <a href="{{.URL}}">{{ .Name }}</a>
      {{ end }}
    </li>
  {{- end }}
{{- end}}
