{{- $show := default true (default .Site.Params.ShowSiteInfo .Params.ShowSiteInfo) -}}
{{- if $show -}}
  <div class="sideblock">
    {{- with .Site.Params.description -}}<p>{{- . -}}</p>{{- end -}}
    {{- $scratch := newScratch -}}
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
    {{- if site.Params.CountAllPages -}}
      {{- $pages = site.RegularPages -}}
    {{- end -}}
    {{- range $pages -}}
      {{- if not .Params.ai -}}
        {{- $scratch.Add "total" .WordCount -}}
      {{- end -}}
    {{- end -}}
    <p>
      {{- $scratch.Get "total" }} words in
      {{ len $pages }}
      {{ if not site.Params.CountAllPages }}main{{ end }}
      posts.
    </p>
    {{- $num := (len .Site.Taxonomies ) -}}
    {{- $scratch2 := newScratch -}}
    {{- range .Site.Taxonomies -}}
      {{- $scratch2.Add "total" (len .) -}}
    {{- end -}}
    <p>
      {{- $scratch2.Get "total" }} terms in
      {{ $num }}
      <a href="/taxonomies">taxonomies</a>.
    </p>
    <p>
      {{- $cc := default "nc-sa" .Site.Params.copyright -}}
      Copyright {{ now.Year }}.
      <a href="https://creativecommons.org/licenses/by-{{- $cc -}}/4.0"
        >CC
        BY-{{- $cc | upper -}}
      </a>
    </p>
  </div>
{{- end -}}
