{{- $show := default true (default .Site.Params.ShowSiteInfo .Params.ShowSiteInfo) -}}
{{- if $show -}}
  <div class="sideblock">
    {{- with .Site.Params.description -}}<p>{{- . -}}</p>{{- end -}}
    {{- $pages := site.RegularPages -}}
    {{- partial "countwords.html" (dict "pages" $pages) -}}
    {{- $num := (len .Site.Taxonomies ) -}}
    {{- $scratch := newScratch -}}
    {{- range .Site.Taxonomies -}}
      {{- $scratch.Add "total" (len .) -}}
    {{- end -}}
    <p>
      {{- $scratch.Get "total" }} terms in
      {{ $num }}
      <a href="/taxonomies">taxonomies</a>.
    </p>
    <p>
      {{- $cc := default "nc-sa" .Site.Params.copyright -}}
      Copyright {{ now.Year }}.
      <a href="https://creativecommons.org/licenses/by-{{- $cc -}}/4.0"
        >CC
        BY-{{- $cc | upper -}}
      </a>
    </p>
  </div>
{{- end -}}
