{{- $show := default true (default .Site.Params.ShowLink .Params.ShowLink) -}}
{{- if $show -}}
  <div class="sideblock">
    {{- with .Site.Params.links -}}
      <menu>
        <li>
          Links
          {{- partial "icon.html" (dict "name" "link" "attributes" `class="outlink-icon"`) -}}
        </li>
        {{- range . -}}
          <li>
            <a
              href="{{- .url -}}"
              {{- if findRE "^(https?:)?//" (lower .url) -}}
                class="outlink sidelink" target="_blank" rel="noopener"
              {{- else -}}
                class="sidelink"
              {{- end -}}
            >
              {{- if .icon -}}
                {{- partial "icon.html" (dict "name" .icon "attributes" `class="icon"`) -}}
              {{- end -}}
              {{- .name -}}
              {{- if findRE "^(https?:)?//" (lower .url) -}}
                {{- partial "icon.html" (dict "name" "external-link" "attributes" `class="outlink-icon"`) -}}
              {{- end -}}
            </a>
            {{- with .description }}
              {{ . -}}
            {{ end -}}
          </li>
        {{ end -}}
      </menu>
    {{- end -}}
  </div>
{{- end -}}
