{{- $show := default true (default .Site.Params.ShowLink .Params.ShowLink) -}}
{{- if $show -}}
  <div class="sideblock">
    {{- with .Site.Params.links -}}
      <menu>
        <li>Links</li>
        {{- range . -}}
          <li>
            <a
              href="{{- .url -}}"
              {{- if findRE "^(https?:)?//" (lower .url) -}}
                class="outlink sidelink" target="_blank" rel="noopener"
              {{- else -}}
                class="sidelink"
              {{- end -}}
            >
              {{- if .icon -}}
                <span>
                  {{- partial "icon.html" (dict "name" .icon "attributes" `class="icon"`) -}}
                </span>
              {{- end -}}
              {{- .name -}}</a
            >
            {{- with .description }}
              {{ . -}}
            {{ end -}}
          </li>
        {{ end -}}
      </menu>
    {{- end -}}
  </div>
{{- end -}}
