<details open>
  <summary>Taxonomy Tree</summary>
  {{ $taxonomyTitles := .Site.Params.taxonomyTitles}}
  {{- range $taxonomyName, $taxonomy := .Site.Taxonomies }} 
    <ul>
    {{- $taxonomyTitle := index $taxonomyTitles $taxonomyName | default $taxonomyName }} 
    {{- with $taxonomy }}
      <li><details>
        <summary>
            <a href="/{{ $taxonomyName }}">{{ $taxonomyTitle }} </a> <sup>{{ len $taxonomy }}</sup>
        </summary>
        {{- range $name, $value := $taxonomy }}
          {{- $count := $value.Count }}
          {{- $page := site.GetPage (printf "/%s/%s" $taxonomyName $name) }}
          <ul>
            {{- with $page }}
              <li><a href="{{ .Permalink }}">{{ .Name }}</a> <sup>{{ $count }}</sup></li>
            {{- end }}
          </ul>
        {{- end }}
      </details></li>
    {{- end }} 
    </ul>
  {{- end }}
</details>
