{{- $show := default true (default .Site.Params.ShowTaxonomyTree .Params.ShowTaxonomyTree) -}}
{{- if $show -}}
  <menu class="sideblock">
    <li>
      分类
    </li>
    {{- $taxonomyTitles := .Site.Params.taxonomyTitles -}}
    {{- range $taxonomyName, $taxonomy := .Site.Taxonomies -}}
      {{- $taxonomyTitle := index $taxonomyTitles $taxonomyName | default $taxonomyName -}}
      {{- with $taxonomy -}}
        <li>
          <details class="menu-fold">
            <summary>
              <a class="sidelink" href="/{{- $taxonomyName -}}"
                >{{- $taxonomyTitle -}}</a
              >
            </summary>
            <menu class="indentline">
              {{- range $name, $value := $taxonomy -}}
                {{- $page := site.GetPage (printf "/%s/%s" $taxonomyName $name) -}}
                {{- with $page -}}
                  <li>
                    <a class="sidelink" href="{{- .RelPermalink -}}"
                      >{{- .Name -}}</a
                    >
                  </li>
                {{- end -}}
              {{- end -}}
            </menu>
          </details>
        </li>
      {{- end -}}
    {{- end -}}
  </menu>
{{- end -}}
