:root {
  --g-font-mono: Monaco, Consolas, monospace;
  --bg-primary: oklch(0.9 0 0); /* #dedede */
  --bg-secondary: oklch(0.85 0 0); /* #cecece */
  --bg-tertiary: oklch(0.8 0 0); /* #bebebe */
  --text: oklch(0.1 0 0);
  --text-secondary: oklch(0.35 0 0);
  --text-tertiary: oklch(0.5 0 0);
  --red-primary: oklch(0.75 0.16 0); /* #fd7eaa */
  --red-secondary: oklch(0.7 0.14 0); /* #e3769b */
  --red-teritary: oklch(0.65 0.12 0); /* #ca6e8c */
  --green-primary: oklch(0.8 0.18 120); /* #b0cd26 */
  --green-secondary: oklch(0.75 0.16 120); /* #a2bc32 */
  --green-tertiary: oklch(0.7 0.14 120); /* #94ab39 */
  --blue-primary: oklch(0.7 0.14 240); /* #37a8ec */
  --blue-secondary: oklch(0.65 0.12 240); /* #3d98d1 */
  --blue-tertiary: oklch(0.6 0.1 240); /* #4188b6 */
  --cyan: oklch(0.9 0.1 180); /* #8ff4e0 */
  --orange: oklch(0.75 0.15 60); /* #f2943c */
  --purple: oklch(0.7 0.15 300); /* #ad87ed */
  --allhues: oklch(0.8 0.1 0);
  --link: #1070da;
  --line: #8c8fa1;
  --indent-line: rgba(140, 143, 161, 0.3);
  --shadow: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] {
  --bg-primary: oklch(0.1 0 0);
  --bg-secondary: oklch(0.15 0 0);
  --bg-tertiary: oklch(0.25 0 0);
  --text: oklch(0.9 0 0);
  --text-secondary: oklch(0.7 0 0);
  --text-tertiary: oklch(0.6 0 0);
}
body > header > menu select {
  display: flex;
  list-style: none;
  border: none;
  font-size: 1rem;
  color: var(--text-color);
}
body > header > menu details {
  margin: 0rem;
}

body > header > menu details ul {
  display: flex;
  position: absolute;
  min-width: 6rem;
}
/*
body > header > menu input ~ ul {
  display: none;
  position: absolute;
  min-width: 8rem;
  top: 100%;
  left: -100%;
  margin: 0;
  border: 1px solid var(--line);
  background: var(--g-b-bg);
  z-index: 1000;
  text-align: center;
}
*/

body > nav {
  scrollbar-width: none;
}
body > nav::-moz-scrollbar {
  display: none;
}
body > nav::-webkit-scrollbar {
  display: none;
}


a[target="_blank"]::after {
  content: "↗";
  font-size: 0.8em;
  text-decoration: none;
}
