body > header > menu select {
  display: flex;
  list-style: none;
  border: none;
  font-size: 1rem;
  color: var(--text-color);
}
body > header > menu details {
  margin: 0rem;
}

body > header > menu details ul {
  display: flex;
  position: absolute;
  min-width: 6rem;
}
/*
body > header > menu input ~ ul {
  display: none;
  position: absolute;
  min-width: 8rem;
  top: 100%;
  left: -100%;
  margin: 0;
  border: 1px solid var(--line);
  background: var(--g-b-bg);
  z-index: 1000;
  text-align: center;
}
*/


body > nav {
  scrollbar-width: none;
}
body > nav::-moz-scrollbar {
  display: none;
}
body > nav::-webkit-scrollbar {
  display: none;
}

