blockquote.alert-note {
  border-color: var(--alert-note-border);
  border-left-color: var(--alert-note-border);
  background-color: var(--alert-note-bg);
  > .alert-heading {
    color: var(--alert-note-border);
  }
}
blockquote.alert-tip {
  border-color: var(--alert-tip-border);
  background-color: var(--alert-tip-bg);
  > .alert-heading {
    color: var(--alert-tip-border);
  }
}
blockquote.alert-important {
  border-color: var(--alert-important-border);
  border-left-color: var(--alert-important-border);
  background-color: var(--alert-important-bg);
  > .alert-heading {
    color: var(--alert-important-border);
  }
}
blockquote.alert-caution {
  border-color: var(--alert-caution-border);
  border-left-color: var(--alert-caution-border);
  background-color: var(--alert-caution-bg);
  > .alert-heading {
    color: var(--alert-caution-border);
  }
}
blockquote.alert-warning {
  border-color: var(--alert-warning-border);
  border-left-color: var(--alert-warning-border);
  background-color: var(--alert-warning-bg);
  > .alert-heading {
    color: var(--alert-warning-border);
  }
}
