blockquote {
  margin: 0.5rem;
  padding: 0.2rem;
  border-left: 0.25rem solid var(--blockquote-border);
  background-color: var(--blockquote-bg);
  border-radius: var(--g-radius);
  > .alert-heading {
    margin: 0 0.5rem;
    padding: 0;
    font-weight: bold;
  }
}

blockquote.alert-note {
  border-left-color: var(--alert-note-border);
  background-color: var(--alert-note-bg);
  > .alert-heading {
    color: var(--alert-note-border);
  }
}
blockquote.alert-tip {
  border-left-color: var(--alert-tip-border);
  background-color: var(--alert-tip-bg);
  > .alert-heading {
    color: var(--alert-tip-border);
  }
}
blockquote.alert-important {
  border-left-color: var(--alert-important-border);
  background-color: var(--alert-important-bg);
  > .alert-heading {
    color: var(--alert-important-border);
  }
}
blockquote.alert-caution {
  border-left-color: var(--alert-caution-border);
  background-color: var(--alert-caution-bg);
  > .alert-heading {
    color: var(--alert-caution-border);
  }
}
blockquote.alert-warning {
  border-left-color: var(--alert-warning-border);
  background-color: var(--alert-warning-bg);
  > .alert-heading {
    color: var(--alert-warning-border);
  }
}
