kbd {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
body {
  > main {
    box-shadow: 0.2rem 0.2rem 0.5rem var(--g-shadow);
  }
}
.site-header {
  backdrop-filter: blur(0.2rem);
  filter: drop-shadow(0.2rem 0.2rem 0.5rem var(--g-shadow));
}

.sideblock {
  box-shadow: 0.2rem 0.2rem 0.4rem var(--g-shadow);
}
.post-section {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--g-shadow);
}

.top {
  border-radius: var(--g-radius);
  &:hover {
    background-color: var(--g-b-bg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-secondary);
  padding-left: 0.5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--shadow));
}
