kbd {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
body {
  > main {
    box-shadow: 0.2rem 0.2rem 0.5rem var(--g-shadow);
  }
}
.site-header {
  backdrop-filter: blur(0.2rem);
  filter: drop-shadow(0.2rem 0.2rem 0.5rem var(--g-shadow));
}

.sideblock {
  box-shadow: 0.2rem 0.2rem 0.4rem var(--g-shadow);
}
.post-section {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow);
}
.entry-title {
  box-shadow: -0.5rem 0 0 var(--bg-secondary);
}
.site-title {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--shadow));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-secondary);
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--shadow));
}
.menu-fold {
  > summary {
    &:hover {
      transform: translateY(-0.1rem);
      background-color: var(--bg-tertiary);
      box-shadow:
        -0.5rem 0 0 var(--bg-tertiary),
        0 0.1rem 0.2rem var(--shadow);
    }
  }
}
