/* init */
:root {
  font-size: 18px;
}
* {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic */
hr,
section,
select,
dd {
  margin: 0.25rem 0.5rem;
}
ul,
ol {
  margin-left: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-header,
.site-footer {
  a {
    color: var(--accent);
  }
}

.site-nav a {
  color: inherit;
  font-weight: bold;
}

.asideblock a,
.postlink {
  padding: 0 0.25rem;
  box-shadow: inset 0 -0.3em 0 var(--link);
  &:hover {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 -1.25em 0 var(--link);
  }
}

.anchor {
  font-size: 0.75em;
  margin-right: 0.25em;
}

.outlink::after {
  content: "⤴";
  font-size: 0.8em;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  transform: translateY(-0.1rem);
}

details {
  > summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 1.5rem;
    &::after {
      content: "◂";
      position: absolute;
      right: 0.5rem;
    }
  }
  &[open] > summary::after {
    transform: rotate(-90deg);
  }
}
mark {
  background-color: var(--bg-tertiary);
  color: var(--text-tertiary);
  padding: 0.1rem 0.5rem;
  border-radius: var(--radius);
  font-size: 0.8rem;
}
em,
blockquote {
  color: var(--text-tertiary);
}
em,
strong {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--shadow));
}

/* table */
table {
  margin: 0.5rem;
  border-collapse: collapse;
  width: 100%;
  text-indent: 0;
}
table caption {
  margin-bottom: 0.5rem;
}
tr {
  border-bottom: 0.1rem solid var(--line);
}
td,
th {
  padding: 0.25rem 0.5rem;
  word-break: normal;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 0.1rem solid var(--line);
}
th {
  text-align: left;
}
/* form */
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
label {
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--radius);
  &:hover {
    color: oklch(0.75 0.2 320);
  }
}
progress {
  vertical-align: baseline;
}
/* insert */
img,
video,
embed,
iframe,
figure,
object {
  margin: 0 auto;
  max-width: 90%;
  height: auto;
  text-align: center;
}
/* code */
pre,
code,
kbd,
samp,
var {
  background-color: var(--bg-code);
  font-family: var(--font-mono);
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
}
kbd {
  border-radius: var(--radius);
  border: 0.1rem solid var(--line);
  border-radius: var(--radius);
}
/* inline code */
code {
  border-radius: var(--radius);
  word-break: keep-all;
}
/* code fence */
.codeblock {
  background-color: var(--bg-codeblock);
  color: var(--text-codeblock);
  position: relative;
  margin: 0;
}
pre,
.codeblock {
  overflow: auto;
  max-height: 600px;
  padding: 1rem;
  > code {
    background-color: inherit;
    border-radius: var(--radius);
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}
.copybtn {
  position: absolute;
  color: var(--hover);
  top: 0;
  right: 0.5rem;
}

/* basic layout */
body {
  position: relative;
  display: grid;
  grid-template-areas:
    "banner banner"
    "sidebar post"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  max-width: clamp(900px, 90%, 1500px);
  margin: 0 auto;
  min-height: 100dvh;
  overflow-wrap: break-word;
  word-break: break-word;
  background: var(--bg-tertiary);
  color: var(--text-tertiary);
  > main {
    grid-area: post;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    position: relative;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem 2rem 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
      "page-start page-start"
      "main-content aside-bar"
      "page-end page-end";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    > article {
      max-width: min(750px, 100%);
      min-width: 50%;
      margin: 0 auto;
      grid-area: main-content;
      position: relative;
      p {
        margin: 0.25rem 0;
      }
      details {
        background-color: var(--bg-secondary);
        > summary {
          padding: 0.25rem 1rem 0.25rem 0.5rem;
          background-color: var(--bg-tertiary);
        }
      }
    }
  }
}

.site-header {
  grid-area: banner;
  z-index: 2;
  height: 2.5rem;
  position: sticky;
  top: 0;
  background: color-mix(in srgb, var(--bg-tertiary) 50%, transparent);
  backdrop-filter: blur(0.1rem);
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: inherit;
  position: sticky;
  top: 0;
  padding: 2.5rem 0.5rem 0 0;
  margin: -2.5rem 0.5rem 0 0;
  /* 3 = (font-size of site-title 2) x (line-height 1.5) */
  width: 250px;
  max-height: calc(100vh - 1.5rem);
  /* 2 = height of .site-footer + margin-top */
  overflow-y: auto;
}
.page-header {
  grid-area: page-start;
  position: relative;
  padding-right: 1rem;
  border-bottom: 0.1rem solid var(--indent-line);
}
.page-aside {
  grid-area: aside-bar;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: auto;
  max-width: 200px;
  min-width: 150px;
}
.page-footer {
  grid-area: page-end;
  text-align: center;
}
.post-end {
  display: grid;
  grid-template-areas: "prev top next";
  grid-template-columns: 45% 10% 45%;
  > div {
    padding: 0.5rem;
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: var(--radius);
    &:hover {
      background-color: var(--link);
    }
    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.post-prev {
  grid-area: prev;
  text-align: left;
  position: relative;
}
.post-top {
  grid-area: top;
  text-align: center;
  margin: 0 0.5rem;
  position: relative;
}
.post-next {
  grid-area: next;
  position: relative;
  text-align: right;
}

/* special elements */
/* header */
#nav-checkbox:checked ~ nav {
  display: none;
}
.site-title {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#themetoggle {
  font-size: 1.5rem;
}
#menu-btn {
  display: none;
  font-size: 2rem;
}
.mainmenu {
  display: flex;
  align-items: center;
  li {
    margin: 0.1rem 0.25rem;
    list-style: none;
    display: flex;
    align-items: center;
    input + label::after {
      content: "»";
      margin-left: 0.2rem;
    }
    input ~ menu {
      display: none;
    }
    input:checked ~ menu {
      border-bottom: 0.1rem solid var(--line);
      display: flex;
    }
  }
}
/* nav */
.sideblock {
  background-color: var(--bg-secondary);
  padding-left: 0.5rem;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
#searchbox {
  position: relative;
  padding: 0.5rem;
  width: 100%;
}
#searchbox input {
  height: 1.5rem;
  width: 100%;
  background-color: var(--bg-tertiary);
  color: var(--text-secondary);
}
#searchResults {
  margin: 0;
  > li {
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
    position: relative;
  }
  > .focus {
    background-color: var(--bg-tertiary);
  }
}
.menu-fold {
  margin: 0;
  > summary {
    &:hover {
      background-color: var(--bg-tertiary);
      box-shadow: -0.5rem 0 0 var(--bg-tertiary);
    }
  }
}
/* main */
/* header */
/* aside */
#aside-btn {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
#aside-checkbox:checked ~ aside {
  display: none;
}
.asideblock {
  margin-bottom: 0.5rem;
}
#TableOfContents ul,
.sideblock,
.asideblock,
.indentline {
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    margin-top: 0.25rem;
  }
}
.indentline,
#TableOfContents ul {
  padding-left: 0.5rem;
  border-left: 0.25rem solid var(--indent-line);
  margin: 0 0 0.25rem;
}
/* article */
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  width: auto;
  max-width: 80%;
}
.archive-month {
  display: flex;
}
.archive-month-header {
  width: 4rem;
  flex: none;
}
.archive-month-posts {
  flex: 1;
  padding-left: 0.5rem;
  margin: 0;
}
.post-section {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem;
  padding-left: 0.5rem;
  position: relative;
}
.entry-title {
  background-color: var(--bg-secondary);
  padding: 0;
}
/* footer */
.site-footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  color: var(--text-tertiary);
  background: inherit;
  padding: 0 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  position: absolute;
  right: 0.5rem;
  padding: 0 0.25rem;
  border-radius: var(--radius);
  &:hover {
    transform: translateY(-0.1rem);
    background-color: var(--bg-primary);
  }
}
