* {
  margin: 0;
  line-height: 1.6;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  height: 100vh;
  max-width: 1000px;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  background-color: #1fdf9f;
}

.grid-main {
  display: grid;
  grid-template-areas: "sidebar maincontent";
  grid-template-columns: 250px 1fr;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  background-color: #ffff0f;
  height: 100%;
  overflow-y: auto;
}

main {
  grid-area: maincontent;
  height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #ff0f6f;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: #f909f9;
}

.site-title {
  font-size: 1.5rem;
  background-color: #ffafaf;
}

.sidebar-btn {
  display: none;
  background: none;
  border: none;
  background-color: #a11f1f;
}
.site-nav-btn {
  display: none;
  background: none;
  border: none;
  background-color: #a11f1f;
}

.site-nav {
  list-style: none;
  font-size: 1.5rem;
  background-color: #a11fa0;
}

.site-nav ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}

article {
  background-color: #a0ff8f;
}

pre,
code {
  border: 5px soild blue;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100rem;
}

li {
  margin-left: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

a,
.long-word {
  word-break: break-word;
  overflow-wrap: break-word;
}

a:hover {
  background-color: rgba(0, 123, 0, 0.2);
}

.toc ul {
  list-style: none;
}

.filetree ul {
  background-color: #011f1f;
}
.filetree ul {
  list-style: none;
}

.pre-next-post {
  display: grid;
  grid-template-areas: "prev mid next";
  grid-template-columns: 40% 20% 40%;
}
.pre-next-post .pre-post {
  grid-area: prev;
  text-align: left;
}
.pre-next-post .back-to-top {
  grid-area: mid;
  text-align: center;
}
.pre-next-post .next-post {
  grid-area: next;
  text-align: right;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }
  .sidebar-btn {
    display: block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }
  .site-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-nav-btn {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }

  .grid-main {
    grid-area: gridmain;
    display: block;
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 99;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .site-nav {
    display: none;
  }
  .site-nav.active {
    display: flex;
    position: relative;
  }
  .site-nav.active ul {
    display: flex;
    flex-direction: column;
  }
}
