/* init */
* {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic */
hr,
pre,
section,
details,
select,
dd,
blockquote,
p {
  margin: 0.25rem 0.5rem;
}
ul,
ol {
  margin-left: 2rem;
}
a {
  color: var(--g-link);
  text-decoration: none;
  border-radius: 0.5rem;
}
a:hover {
  background-color: var(--g-i-bg);
}
a:active {
  color: var(--g-line);
}
.external-link::after {
  content: "↗";
  font-size: 0.8rem;
}
details {
  > summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    padding-right: 1.5rem;
    &::after {
      content: "◂";
      position: absolute;
      right: 0.5rem;
    }
  }
  &[open] > summary::after {
    transform: rotate(-90deg);
  }
}
/* table */
td,
th {
  padding: 0.5em 0.8em;
  text-align: right;
  border-bottom: var(--border);
  white-space: nowrap;
  font-size: 95%;
}
thead th[colspan] {
  padding: 0.2em 0.8em;
  text-align: center;
}
thead tr:not(:only-child) td {
  padding: 0.2em 0.8em;
}
thead + tbody tr:first-child td {
  border-top: var(--border);
}
td:first-child,
th:first-child {
  text-align: left;
}
tr:hover {
  background-color: var(--clight);
}
table img {
  display: block;
}
/* form */
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
label {
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--g-radius);
  &:hover {
    background-color: var(--g-i-bg);
  }
}
progress {
  vertical-align: baseline;
}
/* insert */
img,
video,
embed,
iframe,
figure,
object {
  margin: 0 auto;
  width: 80%;
  height: auto;
  text-align: center;
}
/* code */
pre,
code,
samp,
var {
  background-color: var(--g-i-bg);
  font-family: var(--g-font-mono);
}
kbd {
  background-color: var(--bg);
  font-family: var(--g-font-mono);
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  border-radius: var(--g-radius);
  border: 0.1rem solid var(--g-line);
  border-radius: var(--g-radius);
}
/* inline code */
code {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  border-radius: var(--g-radius);
  word-break: keep-all;
}
/* code fence */
.codeblock {
  background-color: #2e3440;
  color: #a0a0a0;
  position: relative;
  margin: 0;
}
pre,
.codeblock {
  overflow: auto;
  max-height: 600px;
  padding: 1rem;
  > code {
    background-color: inherit;
    border-radius: var(--g-radius);
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}
.copybtn {
  position: absolute;
  color: #ffffff;
  top: 0;
  right: 0.5rem;
}

/* basic layout */
body {
  position: relative;
  display: grid;
  grid-template-areas:
    "banner banner"
    "sidebar post"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  > main {
    grid-area: post;
    background-color: var(--g-bg);
    position: relative;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
      "page-start aside-bar"
      "main-content aside-bar"
      "page-end page-end";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    > article {
      max-width: min(750px, 100%);
      min-width: 50%;
      margin: 0 auto;
      grid-area: main-content;
      position: relative;
      details {
        background-color: var(--g-i-bg);
        > summary {
          padding: 0.25rem 1rem 0.25rem 0.5rem;
          background-color: var(--g-b-bg);
        }
      }
    }
  }
}

.site-header {
  grid-area: banner;
  z-index: 2;
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  grid-area: sidebar;
  background: inherit;
  position: sticky;
  top: 0;
  padding: 3rem 0 1rem 0; /* 3.5 = (font-size of site-title 2) x (line-height 1.5) */
  /* padding: 3.5rem 0 1rem 0; /* 3.5 = (font-size of site-title 2) x (line-height 1.5) + margin 0.5 */ */
  margin: -3rem 0.5rem 0 0;
  width: 250px;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.page-header {
  grid-area: page-start;
  padding-right: 1rem;
}
.page-aside {
  grid-area: aside-bar;
  padding: 2rem 0 0 0.5rem;
  width: auto;
  max-width: 200px;
  min-width: 150px;
}
.page-footer {
  grid-area: page-end;
  text-align: center;
  .post-end {
    display: flex;
    > div {
      flex: 1;
      position: relative;
      padding: 0.5rem;
    }
    > .post-prev {
      text-align: left;
    }
    > .post-next {
      text-align: right;
    }
  }
}

/* special elements */
/* header */
#nav-checkbox:checked ~ nav {
  display: none;
}
.site-title {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
}
#themetoggle {
  font-size: 1.5rem;
}
#menu-btn {
  display: none;
  font-size: 2rem;
}
.mainmenu {
  background-color: inherit;
  display: flex;
  align-items: center;
  li {
    margin: 0.1rem 0.25rem;
    list-style: none;
    display: flex;
    align-items: center;
    input + label::after {
      content: "»";
      margin-left: 0.2rem;
    }
    input ~ menu {
      display: none;
    }
    input:checked ~ menu {
      border-bottom: 0.1rem solid var(--g-line);
      display: flex;
    }
  }
}
/* nav */
.sideblock {
  background-color: var(--g-bg);
  padding: 0.5rem 0 0.25rem 0.5rem;
  margin: 0 0 1rem 0;
  p {
    margin: 0;
  }
}
#searchbox {
  position: relative;
  padding: 0.5rem;
  width: 100%;
}
#searchbox input {
  height: 1.5rem;
  width: 100%;
  background-color: var(--g-i-bg);
}
#searchResults {
  margin: 0;
  > li {
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
    position: relative;
  }
  > .focus {
    background-color: var(--g-b-bg);
  }
}
.indentline {
  padding-left: 0.5rem;
  border-left: 0.15rem solid color-mix(in srgb, var(--g-line) 30%, transparent);
}
.menu-fold {
  margin: 0 0 0.25rem 0;
}
/* main */
/* header */
/* aside */
#aside-btn {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
#aside-checkbox:checked ~ aside {
  display: none;
}
.asideblock {
  padding: 0 0 0.25rem 0.5rem;
  margin: 0 0 0.5rem 0;
}
#TableOfContents ul,
.sideblock,
.asideblock,
.indentline {
  display: flex;
  flex-direction: column;
  list-style: none;
  li {
    list-style: none;
  }
}
#TableOfContents ul {
  margin: 0;
  padding-left: 0.5rem;
  border-left: 0.15rem solid color-mix(in srgb, var(--g-line) 30%, transparent);
}
/* article */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  gap: 2rem;
}
.archive-month {
  display: flex;
}
.archive-month-header {
  width: 4rem;
  flex: none;
}
.archive-month-posts {
  flex: 1;
  padding-left: 0.5rem;
  margin: 0;
}
.post-section {
  margin: 0 0 0.5rem;
  padding: 0 0.5rem 0.25rem;
}
/* footer */
.site-footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  font-size: small;
  background: inherit;
  padding: 0 2rem 0 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.top {
  position: absolute;
  right: 0.5rem;
  padding: 0 0.25rem;
  border-radius: var(--g-radius);
}
