* {
  line-height: 1.4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  grid-template-areas:
    "banner banner"
    "sidebar post"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  margin: 0rem auto;
  height: 100vh;
  overflow: hidden;
  > header {
    grid-area: banner;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > label {
      display: none;
    }
    menu,
    li {
      list-style: none;
      display: flex;
      align-items: center;
      input ~ menu {
        display: none;
      }
      input:checked ~ menu {
        display: flex;
      }
    }
  }
  > main {
    grid-area: post;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
      "page-start page-start"
      "main-content aside-bar"
      "page-end page-end";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    > header {
      grid-area: page-start;
    }
    > aside {
      display: none;
      grid-area: aside-bar;
      > menu {
        flex-direction: column;
      }
    }
    > article {
      grid-area: main-content;
      position: relative;
      #aside-btn {
        position: absolute;
        right: 0;
        top: 1rem;
      }
    }
    #aside-checkbox:checked ~ aside {
      display: block;
    }
    > footer {
      grid-area: page-end;
    }
  }
  > nav {
    width: 250px;
    grid-area: sidebar;
    position: sticky;
    overflow-y: auto;
  }
  > footer {
    grid-area: footer;
    height: auto;
    position: sticky;
    bottom: 0;
    text-align: center;
  }
}

#nav-checkbox:checked ~ nav {
  display: none;
}

@media (max-width: 768px) {
  body {
    position: absolute;
    grid-template-areas:
      "n banner"
      "sidebar post"
      "n2 footer";
    grid-template-columns: 70vw 100vw;
    width: 170vw;
    left: -70vw;
    overflow-x: auto;
    > nav {
      width: 70vw;
    }
    > header {
      flex-direction: column;
      > label {
        display: none;
      }
      menu {
        display: none;
        flex-direction: column;
      }
    }
  }

  #menu-btn {
    display: block;
    position: absolute;
    right: 0rem;
  }
  #menu-checkbox:checked ~ menu {
    display: flex;
    flex-direction: column;
    position: relative;
    menu,
    li {
      flex-direction: column;
    }
  }
  #menu-checkbox:checked ~ #menu-btn > h1 {
    transform: rotate(-90deg);
  }
  #nav-btn {
    display: block;
    position: absolute;
    left: 0rem;
  }
  #nav-checkbox:checked ~ nav {
    display: block;
    left: 0;
    z-index: 1;
  }
}
