* {
  margin: 0;
  line-height: 1.4;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  height: 100vh;
  max-width: 1200px;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  flex: 0;
  height: auto;
  position: sticky;
  top: 0;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
}
header > menu > ul {
  display: flex;
  list-style: none;
  margin: 0rem;
}
header > menu > ul li {
  margin-left: 0.5rem;
}
header > label {
  display: none;
}

main {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

main > nav {
  flex: 0 0 250px;
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--border-color);
}

article {
  flex: 1;
  order: 1;
  height: 100%;
  margin: 0.5rem;
  padding: 0 0.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
}

footer {
  flex: 0;
  height: auto;
  position: sticky;
  bottom: 0;
  text-align: center;
}

.post-end {
  display: flex;
  margin: 1rem;
}
.post-end .post-prev {
  flex: 1;
  text-align: left;
}
.post-end .post-next {
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header > menu {
    display: none;
  }
  header > menu > ul {
    list-style: none;
    flex-direction: column;
    text-align: center;
  }
  header > menu > ul li {
    margin: 0rem;
  }

  header > label {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  #menu-checkbox:checked ~ menu {
    display: block;
    position: relative;
  }

  main {
    display: block;
    position: relative;
    overflow-y: auto;
  }

  main > nav {
    height: auto;
  }

  article {
    height: auto;
  }
}
