* {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  grid-template-areas:
    "banner banner"
    "sidebar post"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  > header {
    grid-area: banner;
    background: inherit;
    z-index: 2;
    height: 3rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > label {
      display: none;
    }
  }
  > nav {
    width: 250px;
    max-height: 100vh;
    padding: 3rem 1rem 1rem;
    margin-top: -3rem;
  }
  > main {
    position: relative;
    grid-area: post;
    padding: 0 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
      "page-start aside-bar"
      "main-content aside-bar"
      "page-end page-end";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    > header {
      grid-area: page-start;
      padding-right: 1rem;
    }
    > aside {
      grid-area: aside-bar;
      padding: 2rem 0.5rem 0 0.5rem;
      width: auto;
      max-width: 200px;
    }
    > article {
      max-width: 750px;
      grid-area: main-content;
      position: relative;
    }
    > footer {
      grid-area: page-end;
      text-align: center;
      .post-end {
        display: flex;
        > div {
          flex: 1;
          position: relative;
          padding: 0.5rem;
        }
        > .post-prev {
          text-align: left;
        }
        > .post-next {
          text-align: right;
        }
      }
    }
  }
  > footer {
    position: sticky;
    display: flex;
    align-items: middle;
    justify-content: space-between;
    bottom: 0;
  }
  > nav {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    overflow-y: auto;
  }
  > footer {
    grid-area: footer;
  }
}

.mainmenu {
  display: flex;
  align-items: center;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    input ~ menu {
      display: none;
    }
    input:checked ~ menu {
      display: flex;
    }
  }
}

#nav-checkbox:checked ~ nav {
  display: none;
}

#aside-btn {
  display: block;
  position: absolute;
}
#aside-checkbox:checked ~ aside {
  display: none;
}

@media (max-width: 768px) {
  body {
    position: absolute;
    grid-template-areas:
      "n banner"
      "sidebar post"
      "n2 footer";
    grid-template-columns: 70vw 100vw;
    width: 170vw;
    left: -70vw;
    overflow-y: auto;
    > nav {
      width: 70vw;
    }
    > header {
      height: auto;
      flex-direction: column;
      > label {
        display: none;
      }
    }
    > main {
      position: relative;
      grid-template-areas:
        "page-start"
        "aside-bar"
        "main-content"
        "page-end";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto;
      > aside {
        display: none;
        max-width: none;
        padding: 0;
        border-bottom: 0.1rem solid var(--g-line);
      }
      > article {
        max-width: none;
        min-width: auto;
        width: auto;
      }
    }
  }

  .mainmenu {
    display: none;
    flex-direction: column;
  }
  #menu-btn {
    display: block;
    position: absolute;
    right: 1rem;
  }
  #menu-checkbox:checked ~ menu {
    display: flex;
    flex-direction: column;
    position: relative;
    menu,
    li {
      flex-direction: column;
    }
  }
  #menu-checkbox:checked ~ #menu-btn {
    transform: rotate(-90deg);
  }

  #nav-btn {
    display: block;
    position: absolute;
    left: 1rem;
  }
  #nav-checkbox:checked ~ nav {
    display: block;
    left: 0;
    z-index: 1;
  }

  #aside-btn {
    transform: rotate(90deg);
  }
  #aside-checkbox:checked ~ aside {
    display: block;
  }
}
