* {
  margin: 0;
  line-height: 1.4;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  height: 100vh;
  max-width: 1200px;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  background-color: #1fdf9f;
}

main {
  flex: 1;
  display: flex;
  /* display: grid; */
  /* grid-template-areas: "sidebar post"; */
  /* grid-template-columns: 250px 1fr; */
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sidebar {
  /* grid-area: sidebar; */
  flex: 0 0 250px;
  background-color: #ffff0f;
  height: 100%;
  overflow-y: auto;
}

article {
  /* grid-area: post; */
  flex: 1;
  order: 1;
  height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  text-align: center;
  background-color: #f909f9;
}

.site-title {
  font-size: 1.5rem;
  background-color: #ffafaf;
}

.sidebar-btn {
  display: none;
  background-color: #a11f1f;
}

.site-nav-btn {
  display: none;
  background-color: #a11f1f;
}

.site-nav {
  list-style: none;
  font-size: 1.5rem;
  background-color: #a11fa0;
}

.site-nav ul {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
}

article {
  background-color: #a0ff8f;
}

section {
  margin: 0.5rem;
  border: 3px solid #000;
}
p {
  border: 2px solid #a5f;
}

code {
  overflow: auto;
}

ul > li {
  margin-left: 1rem;
}

ol > li {
  margin-left: 1.5rem;
}

.codeblock {
  position: relative;
}
.codeblock .code-lang {
  position: absolute;
  top: 0;
  left: 0;
}
.codeblock .code-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
}

details {
  border: 1px solid #2a8;
  position: relative;
}

details > summary {
  list-style: none;
  padding-right: 2rem; /* 为自定义箭头留出空间 */
  cursor: pointer;
  position: relative;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::after {
  content: "◀";
  position: absolute;
  right: 0;
}

details[open] > summary::after {
  content: "▼";
}

#TableOfContents ul {
  list-style: none;
}

.post-end {
  display: flex;
}
.post-end .post-prev {
  flex:1;
  text-align: left;
}
.post-end .post-next {
  flex:1;
  text-align: right;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
  }
  .sidebar-btn {
    display: block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }
  .site-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-nav-btn {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }

  main {
    display: block;
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 99;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar details{
    folded: true;
  }

  .site-nav {
    display: none;
  }
  .site-nav.active {
    display: flex;
    position: relative;
  }
  .site-nav.active ul {
    display: flex;
    flex-direction: column;
  }
}
