* {
  margin: 0;
  line-height: 1.4;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  height: 100vh;
  max-width: 1200px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: auto;
  top: 0;
  background-color: var(--header-bg);
}

main {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

nav {
  flex: 0 0 250px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--nav-bg);
}

article {
  flex: 1;
  order: 1;
  height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;
}

footer {
  text-align: center;
}

header > label {
  display: none;
}


.post-end {
  display: flex;
}
.post-end .post-prev {
  flex: 1;
  text-align: left;
}
.post-end .post-next {
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  header {
    align-items: top;
    flex-direction: column;
  }

  main {
    display: block;
    position: relative;
    overflow-y: auto;
  }

  nav {
    height: auto;
  }

  article {
    height: auto;
  }

  menu {
    display: none;
  }

  menu > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  header > label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #menu-checkbox:checked ~ menu {
    display: block;
    position: relative;
  }
}
