details {
  margin: 0.3rem;
  border: 1px solid var(--g-b-bg);
  background-color: var(--g-i-bg);
  border-radius: var(--g-radius);
  > summary {
    list-style: none;
    padding: 0.1rem 1rem 0.1rem 0.5rem;
    cursor: pointer;
    position: relative;
    background-color: var(--g-b-bg);
    &::after {
      content: "◂";
      position: absolute;
      right: 0.5rem;
    }
  }
  &[open] > summary::after {
    transform: rotate(-90deg);
  }
}

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0.5rem;
  }
}

section,
ul,
dd,
ol,
p {
  margin: 0.5rem;
}

code {
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
}

pre {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--g-radius);
  overflow: auto;
  max-height: 600px;
  position: relative;
  code {
    padding: 0;
    margin: 0;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

section {
  padding: 1rem;
  border: 1px solid var(--g-line);
  border-radius: var(--g-radius);
}

ul > li {
  margin-left: 0.8rem;
}

ol > li {
  margin-left: 1rem;
}

pre,
code,
kbd,
samp,
var {
  background-color: var(--g-i-bg);
  font-family: var(--g-font-mono);
}

a {
  color: var(--g-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  background-color: inherit;
}

img,
video,
svg,
embed,
iframe,
object {
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  border-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-indent: 0;
}
table caption {
  margin-bottom: 0.5rem;
}
tr {
  border-bottom: 1px solid var(--g-line);
}
td,
th {
  padding: 0.5rem 0 0.5rem 1rem;
  word-break: normal;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
th {
  text-align: left;
}

#TableOfContents ul {
  list-style: none;
}

.post-end {
  display: flex;
  margin: 1rem 0.5rem;
}
.post-end .post-prev {
  flex: 1;
  text-align: left;
}
.post-end .post-next {
  flex: 1;
  text-align: right;
}
.post-end > div:hover {
  background-color: var(--g-b-bg);
}

#searchbox input {
  padding: 0.5rem;
  font-weight: bold;
}

#searchResults {
  margin: 0 0.5rem;
}

#searchResults li {
  list-style: none;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  position: relative;
  font-weight: 500;
}

#searchResults {
  width: 100%;
}
#searchResults .focus {
  background-color: var(--g-i-bg);
}

label {
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

hr {
  background-color: var(--g-line);
}

figure {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

body {
  > main {
    background-color: var(--g-bg);
    padding: 0.5rem 1rem;
  }
  > article {
    padding: 0.5rem 2rem;
  }
  > nav {
    background-color: inherit;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    details {
      padding: 0;
      margin: 0.2rem 0;
      background-color: inherit;
      border: none;
      summary {
        padding: 0rem;
        font-weight: bold;
        background-color: inherit;
      }
    }
  }
}
