body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  background-color: var(--main-bg);
}

h2, h3, h4, h5, h6 {
  padding 0.5rem;
  margin: 1rem 0;
}

a {
  color: var(--link-color)
}

pre,
code,
ul,
ol,
p {
  margin: 0.2rem;
}

ul > li {
  margin-left: 0.7rem;
}

ol > li {
  margin-left: 1rem;
}

pre,
code {
  background-color: var(--code-bg);
}

.codeblock {
  position: relative;
}
.codeblock .code-lang {
  position: absolute;
  top: 0;
  left: 0;
}
.codeblock .code-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
}

button {
  border: none;
  background-color: inherit;
}

details {
  border: 0.1rem solid var(--border-color);
  margin: 0.3rem;
  position: relative;
  background-color: var(--details-bg);
  border-radius: 8px;
}

details > summary {
  list-style: none;
  margin: 0 0.5rem;
  padding-right: 1rem;
  cursor: pointer;
  position: relative;
  background-color: var(--summary-bg)
}

details > summary::after {
  content: "◂";
  position: absolute;
  right: 0;
}

details[open] > summary::after {
  transform: rotate(-90deg);
}

nav details {
  margin: 0.2rem 0;
  border: none;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > details {
  border: 0.1rem solid var(--border-color);
}
