/* basic */
section,
ul,
ol,
dd,
p {
  margin: 0.5rem;
}
ul > li {
  margin-left: 1rem;
}
ol > li {
  margin-left: 1rem;
}
a {
  color: var(--g-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    background-color: var(--g-i-bg);
  }
}
details {
  margin-bottom: 0.2rem;
  > summary {
    list-style: none;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    &::after {
      content: "◂";
      position: absolute;
      right: 0.2rem;
    }
  }
  &[open] > summary::after {
    transform: rotate(-90deg);
  }
}

/* table */
table {
  border-collapse: collapse;
  text-indent: 0;
}
tr {
  border-bottom: 1px solid var(--g-line);
}
td,
th {
  padding: 0.5rem 0 0.5rem 1rem;
  word-break: normal;
  &:first-child {
    padding-left: 0;
  }
}
th {
  text-align: left;
}

/* form */
button {
  border: none;
  background-color: inherit;
}
label {
  cursor: pointer;
  padding: 0 0.2rem;
  border-radius: var(--g-radius);
  &:hover {
    background-color: var(--g-i-bg);
  }
}
progress {
  vertical-align: baseline;
}
hr {
  background-color: var(--g-line);
}

/* insert */
img,
video,
svg,
embed,
iframe,
figure,
object {
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 0.5rem;
  text-align: center;
}

/* code */
pre,
code,
kbd,
samp,
var {
  background-color: var(--g-i-bg);
  font-family: var(--g-font-mono);
}

code {
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  border-radius: var(--g-radius);
}

pre {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--g-radius);
  overflow: auto;
  max-height: 600px;
  position: relative;
  code {
    padding: 0;
    margin: 0;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

body {
  max-width: 1000px;
  > header {
    margin: 0 1rem;
    menu {
      label {
        font-weight: bold;
      }
      input:checked ~ label::after {
        content: "»";
        margin-left: 0.2rem;
      }
    }
  }
  > nav {
    width: 250px;
    padding: 0 1rem;
    background-color: inherit;
  }
  > main {
    background-color: var(--g-bg);
    padding: 1rem;
    > header {
      border-bottom: 1px solid var(--g-line);
    }
    > aside {
      font-size: small;
      width: auto;
      padding: 1rem 0;
    }
    > article {
      padding: 1rem;
      details {
        margin: 0.5rem;
        border: 1px solid var(--g-b-bg);
        background-color: var(--g-i-bg);
        border-radius: var(--g-radius);
        summary {
          background-color: var(--g-b-bg);
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      padding: 0;
      list-style: none;
      gap: 2rem;
    }
    > footer {
      text-align: center;
      .post-end {
        display: flex;
        > div {
          flex: 1;
          position: relative;
          padding: 0.5rem;
        }
        > .post-prev {
          text-align: left;
        }
        > .post-next {
          text-align: right;
        }
      }
    }
  }
  > footer {
    text-align: center;
    font-size: small;
  }
}

/* special */

menu {
  list-style: none;
  margin: 0;
  padding: 0;
  ul,
  .indentline {
    border-left: 0.1rem solid color-mix(in srgb, var(--g-line) 30%, transparent);
    border-bottom: 0.1rem solid color-mix(in srgb, var(--g-line) 30%, transparent);
  }
  li {
    margin-left: 0.5rem;
  }
  summary {
    padding-left: 0;
  }
}

#TableOfContents ul {
  list-style: none;
}

#searchbox {
  position: relative;
  margin: 0 0 0.5rem;
  width: 100%;
}

#searchbox input {
  height: 2rem;
  width: 100%;
  background-color: var(--g-i-bg);
}
#searchResults {
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  > .focus {
    background-color: var(--g-b-bg);
  }
}
.archive-month {
  display: flex;
  > .archive-month-header {
    flex: 0 0 3rem;
  }
}
