:root {
  --background-color: #ffffff;
  --text-color: rgb(31, 31, 31);
  --article-bg: #f8e9ea;
  --border-color: #e0e0e0;
  --link-color: #1a73e8;
  --code-bg: rgb(245, 245, 245);
  --details-bg: #eaeaea;

  --blockquote-bg: #f5f5f5;
  --blockquote-border: #a5a5a5;
  --alert-note-bg: #eaf5ff;
  --alert-note-border: #0969da;
  --alert-tip-bg: #e6f4ea;
  --alert-tip-border: #1a7f37;
  --alert-important-bg: #f4f0ff;
  --alert-important-border: #8250df;
  --alert-caution-bg: #ffebe9;
  --alert-caution-border: #cf222e;
  --alert-warning-bg: #fff8e6;
  --alert-warning-border: #9a6700;
}

[data-theme="dark"] {
  --background-color: rgb(29, 30, 32);
  --text-color: rgb(196, 196, 197);
  --article-bg: #18293a;
  --link-color: #8ab4f8;
  --border-color: #444444;
  --code-bg: rgb(55, 56, 62);
  --details-bg: #333333;

  --blockquote-bg: #424242;
  --blockquot-border: #121212;
  --alert-note-bg: #0a3069;
  --alert-tip-bg: #004d2e;
  --alert-important-bg: #3b0d70;
  --alert-caution-bg: #610b16;
  --alert-warning-bg: #493800;
}
