body {
  --font-mono: Monaco, Consolas, monospace;
  --bg-primary: oklch(0.98 0.01 250);
  --bg-secondary: oklch(0.95 0.01 250);
  --bg-tertiary: oklch(0.92 0.01 250);
  --bg-header: oklch(0.9 0.02 250 / 0.7);
  --bg-code: oklch(0.9 0 0);
  --text-primary: oklch(0.3 0 0);
  --text-secondary: oklch(0.4 0.1 260);
  --text-tertiary: oklch(0.5 0.02 250);
  --accent: oklch(0.6 0.25 300);
  --link: oklch(0.5 0.2 160);
  --line: #8c8fa1;
  --indent-line: oklch(0.5 0.05 250 / 0.2);
  --shadow: rgba(0, 0, 0, 0.1);
  --radius: 0.5rem;
  --blockquote-bg: #e0e0e0;
  --blockquote-border: #a5a5a5;
  --alert-note-bg: #eaf5ff;
  --alert-note-border: #0969da;
  --alert-tip-bg: #e6f4ea;
  --alert-tip-border: #3a9f47;
  --alert-important-bg: #f4f0ff;
  --alert-important-border: #8250df;
  --alert-caution-bg: #ffebe9;
  --alert-caution-border: #cf222e;
  --alert-warning-bg: #f7f0e0;
  --alert-warning-border: #9a6700;
  --waline-border: 1px solid #2a2;

  background: var(--bg-tertiary);
  color: var(--text-primary);
  #themetoggle::after {
    content: "☀️";
    /* color: #dabc00; */
    font-size: 1rem;
    /* content: "🔆☀☼☀️"; */
  }

  em {
    color: var(--text-tertiary);
  }
  strong {
    color: var(--text-secondary);
  }
  strong > em,
  em > strong {
    color: var(--text-secondary);
  }
}

body.dark {
  --bg-primary: oklch(0.32 0.01 270);
  --bg-secondary: oklch(0.3 0.01 270);
  --bg-tertiary: oklch(0.28 0.01 270);
  --bg-header: oklch(0.26 0.01 270 / 0.7);
  --bg-code: oklch(0.4 0 0);
  --text-primary: oklch(0.9 0.01 0);
  --text-secondary: oklch(0.9 0.03 60);
  --text-tertiary: oklch(0.8 0.03 60);
  --link: oklch(0.65 0.12 160);
  --accent: oklch(0.7 0.15 130);
  --shadow: oklch(0.2 0.05 250 / 0.7);

  --blockquote-bg: #424242;
  --blockquot-border: #121212;
  --alert-note-bg: #1a3a6f;
  --alert-tip-bg: #104d3e;
  --alert-important-bg: #3f2f78;
  --alert-caution-bg: #712b36;
  --alert-warning-bg: #5f4a1f;
  /* #ff0 #f0f #0ff */

  --waline-white: #000;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;
  --waline-color: #888;
  --waline-bgcolor: #1e1e1e;
  --waline-bgcolor-light: #272727;
  --waline-border: 1px solid #111;
  --waline-border-color: #333;
  --waline-disable-bgcolor: #444;
  --waline-disable-color: #272727;
  --waline-bq-color: #272727;
  --waline-info-bgcolor: #272727;
  --waline-info-color: #666;
  #themetoggle::after {
    content: "🌙";
    font-size: 1rem;
    /* content: "☽🌙"; */
  }
}
