/* [data-theme="dark"] { */
:root {
  --b-font-mono:
    Monaco, Consolas, monospace;
}

body {
  --background-color: #ffffff;
  --main-bg: #eceff4;
  --nav-bg: #dfdfdf;
  --text-color: #2e3440;
  --border-color: #e0e0e0;
  --link-color: #8880a0;
  --code-bg: #f1f1f1;
  --details-bg: #e5e9f0;
  --summary-bg: #d8dee9;
  --radius: 6px;
  --line: #cccccc;

  --blockquote-bg: #f5f5f5;
  --blockquote-border: #a5a5a5;
  --alert-note-bg: #eaf5ff;
  --alert-note-border: #0969da;
  --alert-tip-bg: #e6f4ea;
  --alert-tip-border: #3a9f47;
  --alert-important-bg: #f4f0ff;
  --alert-important-border: #8250df;
  --alert-caution-bg: #ffebe9;
  --alert-caution-border: #cf222e;
  --alert-warning-bg: #fff8e6;
  --alert-warning-border: #9a6700;
  --waline-border: 1px solid #2a2;

  word-break: break-word;
  overflow-wrap: break-word;
}

body.dark {
  --background-color: #2e303a;
  --main-bg: #2e3440;
  --nav-bg: #101010;
  --text-color: #eceff4;
  --link-color: #bf616a;
  --border-color: #444444;
  --code-bg: #40404a;
  --details-bg: #4c566a;
  --summary-bg: #3b4252;
    --line: #3b4252;

  --blockquote-bg: #424242;
  --blockquot-border: #121212;
  --alert-note-bg: #1a3069;
  --alert-tip-bg: #104d3e;
  --alert-important-bg: #3b2d70;
  --alert-caution-bg: #712b36;
  --alert-warning-bg: #493800;

  --waline-white: #000;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;
  --waline-color: #888;
  --waline-bgcolor: #1e1e1e;
  --waline-bgcolor-light: #272727;
  --waline-border: 1px solid #111;
  --waline-border-color: #333;
  --waline-disable-bgcolor: #444;
  --waline-disable-color: #272727;
  --waline-bq-color: #272727;
  --waline-info-bgcolor: #272727;
  --waline-info-color: #666;
}
