/* [data-theme="dark"] { */
:root {
  --g-font-mono: Monaco, Consolas, monospace;
}

body {
  em {
    color: #b48ead;
  }
  strong {
    color: #a3be8c;
  }
  strong > em {
    color: #d08770;
  }
  em > strong {
    color: #bf616a;
  }
  background: #f5f5f5;
  --g-bg: #eeeeee;
  --g-i-bg: #d8d8d8;
  --g-b-bg: #c8c8c8;
  --g-line: #8c8fa1;
  color: #4c4f69;
  --g-link: #7287fd;
  --g-radius: 0.5rem;
  --g-shadow: rgba(0, 0, 0, 0.1);
  /* --g-shadow: rgba(125, 125, 125, 0.1); */

  --blockquote-bg: #f5f5f5;
  --blockquote-border: #a5a5a5;
  --alert-note-bg: #eaf5ff;
  --alert-note-border: #0969da;
  --alert-tip-bg: #e6f4ea;
  --alert-tip-border: #3a9f47;
  --alert-important-bg: #f4f0ff;
  --alert-important-border: #8250df;
  --alert-caution-bg: #ffebe9;
  --alert-caution-border: #cf222e;
  --alert-warning-bg: #f7f0e0;
  --alert-warning-border: #9a6700;
  --waline-border: 1px solid #2a2;

  word-break: break-word;
  overflow-wrap: break-word;
  #themetoggle::after {
    content: "☼";
    color: #dabc00;
    /* content: "🔆☀"; */
  }
}

body.dark {
  background: #2e3440;
  --g-bg: #3b4252;
  --g-b-bg: #434c5e;
  --g-i-bg: #4c566a;
  --g-line: #5e61ac;
  color: #d8dee9;
  --g-link: #81a1c1;

  --blockquote-bg: #424242;
  --blockquot-border: #121212;
  --alert-note-bg: #1a3a6f;
  --alert-tip-bg: #104d3e;
  --alert-important-bg: #3f2f78;
  --alert-caution-bg: #712b36;
  --alert-warning-bg: #5f4a1f;
  /* #ff0 #f0f #0ff */

  --waline-white: #000;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;
  --waline-color: #888;
  --waline-bgcolor: #1e1e1e;
  --waline-bgcolor-light: #272727;
  --waline-border: 1px solid #111;
  --waline-border-color: #333;
  --waline-disable-bgcolor: #444;
  --waline-disable-color: #272727;
  --waline-bq-color: #272727;
  --waline-info-bgcolor: #272727;
  --waline-info-color: #666;
  #themetoggle::after {
    content: "☽";
    /* content: "🌙"; */
  }
}
