{{- define "main" }}
  {{ partial "breadcrumbs" . }}
  <h1>{{ .Title }}</h1>
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- if site.Params.ShowAllPagesInArchives }}
    {{- $pages = site.RegularPages }}
  {{- end }}

  {{- range $pages.GroupByPublishDate "2006" }}
    {{- if ne .Key "0001" }}
      {{- $year := replace .Key "0001" "" }}
      <h2 class="archive-year-header" id="{{ $year }}">
        <a class="archive-header-link" href="#{{ $year }}">
          {{- $year -}}
        </a>
        <sup class="archive-count">{{ len .Pages }}</sup>
      </h2>
      {{- range .Pages.GroupByDate "January" }}
        <h3 class="archive-month-header" id="{{ $year }}-{{ .Key }}">
          <a class="archive-header-link" href="#{{ $year }}-{{ .Key }}">
            {{- .Key -}}
          </a>
          <sup class="archive-count">{{ len .Pages }}</sup>
        </h3>
        {{- range .Pages }}
          {{- if eq .Kind "page" }}
            <h4 class="archive-entry-title entry-hint-parent">
            <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
            {{- .Title | markdownify }}</a>
            </h4>
            {{ partial "post-info" . }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
