{{ define "main" }}

  {{ .Content }}

  {{ partial "search.html" . }}
  {{ $taxonomyTitles := .Site.Params.taxonomyTitles}}
  {{- range $taxonomyName, $taxonomy := .Site.Taxonomies }}
    {{- if gt (len $taxonomy) 0 }}
      {{- $taxonomyTitle := index $taxonomyTitles $taxonomyName | default $taxonomyName }}
      <h2>{{ $taxonomyTitle }}</h2>
      <ul class="terms-tags">
        {{- range $name, $value := $taxonomy }}
          {{- $count := $value.Count }}
          {{- $page := site.GetPage (printf "/%s/%s" $taxonomyName $name) }}
          {{- with $page }}
            <li>
              <a href="{{ .Permalink }}">{{ .Name }}
                <sup><strong><sup>{{ $count }}</sup></strong></sup>
              </a>
            </li>
          {{- end }}
        {{- end }}
      </ul>
    {{- end }}
  {{- end }}


  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary | plainify | truncate 30 | strings.TrimSpace }}
  {{ end }}
{{ end }}
