<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <input type="checkbox" id="nav-checkbox" style="display: none;">
  <nav>
    {{ partial "search.html" . }}
    {{ partial "site-info.html" . }}
    {{ partial "taxonomy-tree.html" . }}
    {{ partial "file-tree.html" . }} 
    {{ partial "side-menu.html" . }}
  </nav>
  <main>
    <header>{{ block "mainstart" . }}{{ end }}</header>
    <input type="checkbox" id="aside-checkbox" style="display: none;">
    <label for="aside-checkbox" id="aside-btn">≡</label>
    <aside>{{ block "mainaside" . }}{{ end }}</aside>
    <article>{{ block "mainarticle" . }}{{ end }}</article>
    <footer>{{ block "mainfooter" . }}{{ end }}</footer>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
