{{- define "main" -}}
  <header>
    {{- partial "breadcrumbs" . -}}
  </header>
  <article>
    {{- .Content -}}
    <h2>Sections</h2>
    {{ range .Site.Sections }}
      {{- partial "section-tree-walk.html" (dict "page" .) -}}
    {{ end }}
    <h2>Taxonomies</h2>
    {{- range $taxonomyName, $taxonomy := .Site.Taxonomies -}}
      {{- with $taxonomy -}}
        <h3>
          <a class="sectionlink" href="/{{- $taxonomyName -}}"
            >{{- $taxonomyName -}} </a
          ><sup>{{- len $taxonomy -}}</sup>
        </h3>
        {{- $description := index site.Params.taxonomyDescription $taxonomyName -}}
        {{- with $description -}}
          <p>{{- . -}}</p>
        {{- end -}}
        {{- range $name, $value := $taxonomy -}}
          {{- $count := $value.Count -}}
          {{- $page := site.GetPage (printf "/%s/%s" $taxonomyName $name) -}}
          {{- with $page }}
            <a class="tag" href="{{- .RelPermalink -}}"
              >{{- .Name -}}<sup>{{- $count -}}</sup></a
            >
          {{ end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </article>
{{- end -}}

{{- define "_partials/section-tree-walk.html" -}}
  {{- $page := .page -}}
  <ul class="section-tree">
    <li>
      <a class="sectionlink" href="{{- $page.RelPermalink -}}"
        >{{- $page.Title -}}</a
      >
      {{- with $page.Params.Summary }}
        {{ . -}}
      {{- end -}}
      {{- if $page.Sections -}}
        {{- range $page.Sections -}}
          {{- partial "section-tree-walk.html" (dict "page" .) -}}
        {{- end -}}
      {{- end -}}
    </li>
  </ul>
{{- end -}}
