{{- define "main" -}}
  <header>
    {{- partial "breadcrumbs" . -}}
  </header>
  <article>
    {{- .Content -}}
    {{- if .Params.ShowMarkSearch -}}
      <h2>Search</h2>
      <form action="{{ .Permalink }}">
        <input id="search-query" name="q" placeholder="search phrase" />
      </form>
      <div id="search-results"></div>
      <template id="search-result-template"
        ><div class="search_summary">
          <a class="search_link search_title" href=""></a>
          <p class="search_snippet"></p>
          <span class="search_iftags">
            <span>Tags:</span>
            <span class="search_tags"></span>
          </span>
          </span class="search_ifcategories">
            <span>Categories:</span>
            <span class="search_categories"></span>
          </span>
          </span class="search_iftitle">
            <span>Title:</span>
            <span class="search_title"></span>
          </span>
        </div>
      </template>
      {{ $iecompat_scripts := "" }}
      {{ range $i, $e := resources.Match "js/iecompat/*.js" }}
        {{ if $i }}
          {{ $iecompat_scripts = (printf "%s," $iecompat_scripts) }}
        {{ end }}
        {{ $iecompat_scripts = (printf "%s%#v" $iecompat_scripts $e.RelPermalink) }}
      {{ end }}
      <script src="{{ printf "%s" (resources.Get "js/libs/fuse.min.js" | fingerprint).RelPermalink }}"></script>
      <script src="{{ printf "%s" (resources.Get "js/libs/mark.min.js" | fingerprint).RelPermalink }}"></script>
      <script src="{{ printf "%s" (resources.Get "js/marksearch.js" | fingerprint).RelPermalink }}
      "></script>
    {{- end -}}
    <h2>Sections</h2>
    {{- range .Site.Sections }}
      {{- partial "utils/section-tree-walk.html" (dict "page" .) -}}
    {{- end }}
    <h2>Taxonomies</h2>
    {{- range $taxonomy, $terms := .Site.Taxonomies -}}
      <h3>
        <a class="sectionlink" href="{{- .Page.RelPermalink -}}"
          >{{ .Page.Title }} </a
        ><sup>{{- len $terms -}}</sup>
      </h3>
      {{- with .Page.Params.Summary -}}
        <p>{{- . -}}</p>
      {{- end -}}
      {{- range . }}
        <a class="tag" href="{{- .Page.RelPermalink -}}"
          >{{- .Page.Title -}}<sup>{{- .Count -}}</sup></a
        >
      {{ end -}}
    {{- end -}}
  </article>
{{- end -}}
