{{ define "mainstart" }}
  {{ partial "breadcrumbs.html" . }}
  {{ partial "post-info.html" . }}
{{ end }}

{{ define "mainaside" }}
  <menu>
  <li>{{ partial "toc.html" . }}</li>
  <li>{{ partial "post-rel.html" . }}</li>
  </menu>
{{ end }}

{{ define "mainarticle" }}
  {{ $showrel := default true (default .Site.Params.ShowRelPost .Params.ShowRelPost) }}
  {{ $showtoc := default true (default .Site.Params.ShowToc .Params.ShowToc) }}
  {{ if or $showrel $showtoc }}
    <label for="aside-checkbox" id="aside-btn">☰</label>
  {{ end }}
  {{ .Content }} 
{{ end }}

{{ define "mainfooter" }}
  {{ partial "page-end.html" . }}
  {{ partial "comment.html" . }}
{{ end }}
