{{- define "main" -}}
  <header>
    {{- partial "breadcrumbs.html" . -}}
    {{- partial "post-info.html" . -}}
  </header>
  {{- $showrelpost := default true (default .Site.Params.ShowRelPost .Params.ShowRelPost) -}}
  {{- $showtoc := default true (default .Site.Params.ShowToc .Params.ShowToc) -}}
  {{- if or $showtoc $showrelpost -}}
    <input type="checkbox" id="aside-checkbox" style="display: none;" />
    <label for="aside-checkbox" id="aside-btn">⇄</label>
    <aside>
      <menu class="sideblock">
        {{- partial "toc.html" . -}}
      </menu>
        {{- partial "post-rel.html" . -}}
    </aside>
  {{- end -}}
  <article>{{- .Content -}}</article>
  <footer>
    {{- partial "page-end.html" . -}}
    {{- partial "comment.html" . -}}
  </footer>
{{- end -}}
