{{- define "main" -}}
  <header class="page-header">
    {{- partial "breadcrumbs.html" . -}}
    <h1>{{- .Title -}}</h1>
  </header>
  {{- $pages := .RegularPagesRecursive -}}
  {{- $show := default true (default .Site.Params.ShowList .Params.ShowList) -}}
  {{- $type := default "list" (default .Site.Params.ListType .Params.ListType) -}}
  {{- if and $show (eq $type "date") -}}
    <input type="checkbox" id="aside-checkbox" style="display: none;" />
    <label for="aside-checkbox" id="aside-btn">⇄</label>
    <aside class="page-aside" id="TableOfContents">
      <div class="asideblock">
        {{- range $pages.GroupByPublishDate "2006" -}}
          {{- if ne .Key "0001" -}}
            {{- $year := replace .Key "0001" "" -}}
            <details class="menu-fold">
              <summary>
                <a class="archive-header-link" href="#{{- $year -}}">
                  {{- $year -}}
                </a>
              </summary>
              <ul class="indentline">
                {{- range .GroupByDate "01" -}}
                  <li>
                    <a
                      class="archive-header-link"
                      href="#{{- $year -}}-{{- .Key -}}"
                    >
                      {{- .Key -}}
                    </a>
                  </li>
                {{- end -}}
              </ul>
            </details>
          {{- end -}}
        {{- end -}}
      </div>
    </aside>
  {{- end -}}
  <article class="section">
    {{- $scratch := newScratch -}}
    {{- range $pages -}}
      {{- if not .Params.ai -}}
        {{- $scratch.Add "total" .WordCount -}}
      {{- end -}}
    {{- end -}}
    <p>{{- $scratch.Get "total" }} words in {{ len $pages }} posts.</p>
    {{- .Content -}}
    {{ if $show }}
      {{- partial "lists.html" (dict "type" $type "pages" $pages "page" .) -}}
    {{- end -}}
  </article>
{{- end -}}
